[Unit]
Description=spring-petclinic
After=syslog.target

[Service]
User=spring-petclinic
ExecStart=java -jar /opt/spring-petclinic/spring-petclinic.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target